*.sublime-project
*.sublime-workspace
*.bak
_settings_.bat
*.log
_tmp/*
_mytmp/*
definition.quest/backups/*.zip
strings/all.en.strings.csv
strings/strings.quest.csv
strings/strings.scene-*.csv
uncooked/*
imgui.ini
